projects/xml-constraint/bookstore.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT bookstore (book+)>
<!ELEMENT book (name, authors, price, core_curriculum, test?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT authors (author+)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT core_curriculum (#PCDATA)>
<!ELEMENT test (#PCDATA)>
<!ATTLIST book id CDATA #REQUIRED>